name: Print Node.js Version

on:
  push:
    branches:
      - "master"

jobs:
  print_node_version:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Java 17
      uses: actions/setup-java@v2
      with:
       java-version: 17
       distribution: 'adopt'
    - name: Print Node.js Version
      run: |
        node -v
    - name: Upload to Firebase App Distribution
      uses: wzieba/Firebase-Distribution-Github-Action@v1.7.0
      with:
        appId: ${{ secrets.FIREBASE_APP_ID }}
        token: ${{ secrets.FIREBASE_TOKEN }}
        groups: qa
        file: app/build/outputs/apk/debug/app-debug.apk
